* {
  font-family: "cairo";
}

h3 {
  font-family: "cairo";
  text-align: center;
}

.mat-form-field {
  font-size: small;
  font-family: "cairo";
}
.mat-dialog-content{
    width: 900px;
}

.custom-div {
  background: #f4f3f0;
  border-radius: 5px;
  border: 1px solid #212121;
}
.mat-raised-button {
  font-size: large;
  font-family: "cairo";
}
