@media print {
  .doNotPrint {
    display: none !important;
  }
  .myDivToPrint {
    background-color: white;
    height: fit-content;
    width: fit-content;
    display: block;
    margin: auto;
  }
  .flex-parent {
    width: 30mm;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  @page {
    size: 38mm 25mm; /* width height */
  }
}
