.example-full-width {
    width: 100%;
  }
  
.mat-card-header {
    display: block;
    background: #F4F3F0;
    border-radius: 8px;
    border: 1px solid #212121;
    font-family: 'Cairo', sans-serif;
    font-size: larger;
  }
  
  