.my-container {
  background-color: #f5f2eb;
  height: 100vh;
  color: #f5f2eb;
  font-family: "Almarai";
  display: flex; /* or inline-flex */
  align-items: center;
}

label {
  display: block;
  margin-top: 5px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
  border: 2px solid #f5f2eb;
  border-radius: 20px;
}

.card {
  background-color: #aec3c1;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #e7a32f;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.mybtn {
  width: 100%;
  background-color: #e7a32f;
  color: white;
  font-size: large;
  border-radius: 20px;
  border: 2px solid #f5f2eb;
  font-weight: 500;
}

button:hover{
  color: #e7a32f;
  border: #e7a32f solid 2px;
  background:#fff;
}