<h2 mat-dialog-title>{{arabic.stock.products.table.title}}</h2>
<mat-divider></mat-divider>

<mat-dialog-content>
    <form nz-form [formGroup]="validateForm">
        <div>
            <div class="row justify-content-between mt-2">
                <div class="col mt-3">
                    <mat-checkbox (change)="showOptions($event)">{{arabic.stock.products.util.automaticCode}}
                    </mat-checkbox>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" *ngIf="codeDisabled">
                        <mat-label>{{arabic.stock.products.table.productCode}}</mat-label>
                        <input matInput required placeholder="{{arabic.stock.products.table.productCode}}"
                            formControlName="productCode" [(ngModel)]="product.productCode" autocomplete="off">
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>{{arabic.stock.products.table.productName}}</mat-label>
                        <input matInput required placeholder="{{arabic.stock.products.table.productName}}"
                            formControlName="productName" [(ngModel)]="product.productName" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-between">

                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>{{arabic.stock.products.table.purchasingPrice}}</mat-label>
                        <input matInput type="number" required
                            placeholder="{{arabic.stock.products.table.purchasingPrice}}"
                            formControlName="purchasingPrice" [(ngModel)]="product.purchasingPrice" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>{{arabic.stock.products.table.retailPrice}}</mat-label>
                        <input matInput type="number" required placeholder="{{arabic.stock.products.table.retailPrice}}"
                            formControlName="retailPrice" [(ngModel)]="product.retailPrice" autocomplete="off">
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>{{arabic.stock.products.table.wholesalePrice}}</mat-label>
                        <input matInput type="number" required
                            placeholder="{{arabic.stock.products.table.wholesalePrice}}"
                            formControlName="wholesalePrice" [(ngModel)]="product.wholesalePrice" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>{{arabic.stock.products.table.numberUnitsInStock}}</mat-label>
                        <input matInput type="number" required
                            placeholder="{{arabic.stock.products.table.numberUnitsInStock}}"
                            formControlName="numberUnitsInStock" [(ngModel)]="product.numberUnitsInStock" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>{{arabic.stock.products.table.alertUnits}}</mat-label>
                        <input matInput type="number" required placeholder="{{arabic.stock.products.table.alertUnits}}"
                            formControlName="alertUnits" [(ngModel)]="product.alertUnits" autocomplete="off">
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>{{arabic.stock.products.table.productCategory}}</mat-label>
                        <mat-select matNativeControl required [(ngModel)]="checkValue"
                            formControlName="productCategory">
                            <mat-option *ngFor="let item of categoryList" [value]="item?.id">
                                {{item?.categoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

            </div>

        </div>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="center">
    <button mat-raised-button (click)="save()"
        [disabled]="!validateForm.valid">{{arabic.stock.category.util.dialog.addDialog.buttons.save}}</button>
    <button mat-raised-button color="primary" (click)="close()"
        tabindex="1">{{arabic.stock.category.util.dialog.addDialog.buttons.cancel}}</button>
</mat-dialog-actions>