<h2 mat-dialog-title>{{arabic.stock.products.table.title}}</h2>
<mat-divider></mat-divider>

<mat-dialog-content>
    <form nz-form [formGroup]="validateForm">
        <div>
            <div class="row justify-content-between mt-2">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>التصنيف الفرعى</mat-label>
                        <input matInput required placeholder="التصنيف الفرعى"
                            formControlName="productName" [(ngModel)]="product.productName" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>{{arabic.stock.products.table.productCategory}}</mat-label>
                        <mat-select matNativeControl required [(ngModel)]="checkValue"
                            formControlName="productCategory">
                            <mat-option *ngFor="let item of categoryList" [value]="item?.id">
                                {{item?.categoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="center">
    <button mat-raised-button (click)="save()"
        [disabled]="!validateForm.valid">{{arabic.stock.category.util.dialog.addDialog.buttons.save}}</button>
    <button mat-raised-button color="primary" (click)="close()"
        tabindex="1">{{arabic.stock.category.util.dialog.addDialog.buttons.cancel}}</button>
</mat-dialog-actions>