<div class="doNotPrint">
  <div class="myContainer">
    <mat-progress-bar color="accent" mode="indeterminate" *ngIf="isLoading" value="20"></mat-progress-bar>
    <div class="row text-center rounded navy">
      <div class="col-1 mt-2">
        <button mat-icon-button class="fab-right" color="accent" (click)="refresh()">
          <mat-icon>replay</mat-icon>
        </button>
      </div>
      <div class="col mt-2">
        <button mat-raised-button color="accent" class="mybtn" (click)="viewOrderToday()">فواتير اليوم</button>
      </div>
      <div class="col mt-2">
        <div class="row justify-content-center">
          <p class="mt-2 text-white">{{arabic.util.date}}</p>
          <p class="text-dark yellow rounded p-2 mr-4 block">{{currentDate|date:'yyyy-MM-dd'}}</p>
        </div>
      </div>
      <div class="col mt-2">
        <div class="row justify-content-center">
          <p class="mt-2 text-white ">{{arabic.saleOrder.util.orderCode}}</p>
          <p class="text-dark yellow rounded p-2 mr-4 block">{{orderCode}}</p>
        </div>
      </div>
    </div>
    <!--end header container-->
    <div class="row rounded mt-1">
      <!--center dive-->
      <div class="col-4 greybg ">
        <mat-card class="mat-elevation-z2">
          <div class="blue_ligt-bg text-16 text-white">
            <p>تصنيقات رئيسيه</p>
          </div>

          <div class="scrollable-15 mt-1">
            <mat-card-content>
              <mat-grid-list cols="5" gutterSize="10px" rowHeight="50px">
                <mat-grid-tile *ngFor="let card of categoryList">
                  <p (click)="addProductCategory(card)" class="text-white text-m curser-pointer ">
                    {{card.categoryName}}
                  </p>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-card-content>
          </div>
          <div class="yellow ">
            <p> {{dynamcObjectSelected.categoryName}}</p>
          </div>
        </mat-card>

        <mat-card class="mat-elevation-z2 mt-1">
          <div class="blue_ligt-bg text-16 text-white">
            <p>تصنيقات فرعية</p>
          </div>
          <div class="scrollable-15">
            <mat-card-content>
              <mat-grid-list cols="5" gutterSize="10px" rowHeight="50px">
                <mat-grid-tile *ngFor="let card of productList">
                  <p (click)="addProduct(card)" class="text-white text-m curser-pointer ">
                    {{card.productName}}
                  </p>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-card-content>
          </div>
          <div class="yellow ">
            <p> {{dynamcObjectSelected.productName}}</p>
          </div>
        </mat-card>
        <mat-card class="mat-elevation-z2 mt-1">
          <div class="blue_ligt-bg text-16 text-white  ">
            <p>التشغيل</p>
          </div>
          <div class="scrollable-15">
            <mat-card-content>
              <mat-grid-list cols="5" gutterSize="10px" rowHeight="50px">
                <mat-grid-tile *ngFor="let card of tailerTasksList">
                  <p (click)="addCard(card)" class="text-white text-m curser-pointer ">
                    {{card.task}}
                  </p>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-card-content>
          </div>
          <div class="row justify-content-between">
            <div class="yellow ">
              <p class="text-white m-p-1"> {{dynamcObjectSelected.task1}}</p>
            </div>
            <div class="yellow ">
              <p class="text-white m-p-1"> {{dynamcObjectSelected.task2}}</p>
            </div>
            <div class="yellow ">
              <p  class="text-white m-p-1"> {{dynamcObjectSelected.task3}}</p>
            </div>
            <div class="yellow ">
              <p  class="text-white m-p-1"> {{dynamcObjectSelected.task4}}</p>
            </div>
            <div class="yellow ">
              <p  class="text-white m-p-1"> {{dynamcObjectSelected.task5}}</p>
            </div>
          </div>
        </mat-card>
        

      </div>
      <!--left div-->
      <div class="col-8 greybg ">

        <div class=" info">
          <form  [formGroup]="orderForm">
            <div class="row ">
              <div class="col m-2">
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput required placeholder="اللون" formControlName="color"
                    [(ngModel)]="dynamcObjectSelected.color" autocomplete="off">
                </mat-form-field>
              </div>
              <div class="col m-2">
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput required placeholder="عدد القطع" type="number" formControlName="quantity"
                    [(ngModel)]="dynamcObjectSelected.quantity" autocomplete="off">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col m-2">
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput required placeholder="السعر" type="number" formControlName="price"
                    [(ngModel)]="dynamcObjectSelected.price" autocomplete="off">
                </mat-form-field>
              </div>
              <div class="col m-2">
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput placeholder="ملاحظات" formControlName="note"
                    [(ngModel)]="dynamcObjectSelected.notes" autocomplete="off">
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-center m-2">
              <button mat-raised-button color="accent" class="mybtn text-center" (click)="addToInvoce()"
              [disabled]="!orderForm.valid">إضافة</button>
            </div>
            
          </form>

        </div>
        <mat-divider></mat-divider>
        <div class="mt-2 text-center">
          <!--table-->
          <table class="table table-bordered table-sm">
            <thead class="navy text-white">
              <tr>
                <th>الصنف</th>
                <th>تفاصيل</th>
                <th>عدد</th>
                <th>اللون</th>
                <th colspan="5" >تشغيل </th>
               
                <th> السعر</th>
                <th>الاجمالى</th>
                <th>ملاحظات</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dynamicOrderList">
                <th>{{ item.productName }}</th>
                <th>{{ item.categoryName }}</th>
                <td>{{ item.quantity }}</td>
                <td>{{ item.color }}</td>
                <td>{{ item.task1 }}</td>
                <td>{{ item.task2 }}</td>
                <td>{{ item.task3 }}</td>
                <td>{{ item.task4 }}</td>
                <td>{{ item.task5 }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.total}}</td>
                <td>{{ item.notes }}</td>
                <td>
                  <button mat-icon-button color="warn" (click)="deleteDynamicItem(item)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <form [formGroup]="saveOrderForm" >

        <div class="row justify-content-between text14 mt-2">
         

          <div class="col info">
            <div class="row ">
             
              <div class="col">
               
                  <mat-form-field class="example-full-width">
                    <mat-label>{{arabic.customers.util.searchBar}}</mat-label>
                    <input type="text" placeholder={{arabic.customers.util.searchBar}} matInput
                      [formControl]="customerControl" [matAutocomplete]="auto" [(ngModel)]="searchCustomerInout"
                      (keyup.enter)="search()">
                    <mat-icon color="accent" matSuffix>search</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                        (click)="OnHumanSelected(searchCustomerInout)">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
               
              </div>
              <div class="col mt-1">
                <button mat-mini-fab color="accent" (click)="addDialog()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            
            </div>
          </div>
          <div class="col">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{arabic.printig.saleOrderInvoce.receivedDate}}</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="receivedDate"
                [(ngModel)]="orderPayload.receivedDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <div class="row justify-content-around navy text-xl">
              <p> الاجمالى</p>
              <p>{{totalValue}}</p>
            </div>
          </div>
        </div>
      </form>
      
        <mat-divider></mat-divider>
        <div class="row justify-content-center mt-3 ">
            <button mat-raised-button color="accent" class="mybtn m-2"  [disabled]="!saveOrderForm.valid" (click)="onSaveOrder()">حفظ</button>
            <button mat-raised-button color="accent" class="mybtn m-2" [disabled]="!saveOrderForm.valid" (click)="onSaveAndPrint()">حفظ وطباعة</button>
            <button mat-raised-button color="warn" class="mybtn m-2" (click)="refresh()">الغاء</button>
        </div>
      </div>
      <!--end left-->
    </div>
  </div>
</div>