$base-color: #f4f3f0;
$red-dark-color: rgb(208, 12, 48);
$blue-dark-color: #1D2053;
$purble-color: #673AB7;
$blue-light-color: rgb(26, 96, 159);
$yellow-color: #FFC107;
$font-cairo: "Cairo", sans-serif;

.myContainer {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
}

.example-full-width {
  width: 100%;
}
.example-form {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
}

.greybg {
  background-color: $base-color;
}

.red {
  background-color: $red-dark-color;
}

.sand {
  background: $base-color;
  border-radius: 8px;
  border: 1px solid $base-color;
}

.navy{
  background-color:$blue-light-color;
  font-size: larger;
  font-family: $font-cairo;
  color: white;
  text-align: center;
  border-radius:3px;
}

.yellow{
  background-color: $yellow-color;
  font-size: large;
  font-family: $font-cairo;
  border-radius:3px;
  text-align: center;
}

.dark {
  background-color: $blue-dark-color;
}

.blue_ligt-bg {
  background-color: $blue-light-color;
  border-radius: 5px;
}

.text-s {
  font-size: 12px;
}

.text-16 {
  font-size: 16px;
  font-family: $font-cairo;
  font-weight: bold;
  text-align: center;
}

.text-xl {
  font-size: x-large;
  font-weight: bold;
  color: white;
  font-family: $font-cairo;
  padding: 5px;
}
.text-l {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  background-color: #f4f3f0;
  border: 1px solid $blue-dark-color;
  border-radius: 5px;
  height: fit-content;
}

mat-form-field {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.mybtn {
  width: fit-content;
  font-size: 16px;
  font-family: "Cairo";
}


mat-grid-tile {
  background: $base-color;
  border-radius: 3px;
}

.scrollable-20{
  overflow-y: scroll;
  height: 20vh;
}
.scrollable-15{
  overflow-y: scroll;
  height: 15vh;
}


.my-card {
  background: $blue-light-color;
  width: 100%;
} 

.mat-card-title{
  cursor: pointer;
  text-align: center;
  color: #F4F3F0;
  font-size: large;
  font-family: $font-cairo;
}

.header {
  background-color: $base-color;
  border-radius: 8px;
  font-family: $font-cairo;
  font-size: larger;
  text-align: center;
  border: 1px solid $blue-dark-color;
}