<div class="doNotPrint">
  <div class="myContainer">
    <mat-progress-bar color="accent" mode="indeterminate" *ngIf="isLoading" value="20"></mat-progress-bar>
    <div class="row text-center rounded navy">
      <div class="col-1 mt-2">
        <button mat-icon-button class="fab-right" color="accent" (click)="refresh()">
          <mat-icon>replay</mat-icon>
        </button>
      </div>
      <div class="col mt-2">
        <button mat-raised-button color="accent" class="mybtn" (click)="viewOrderToday()">فواتير اليوم</button>
      </div>
      <div class="col mt-2">
        <div class="row justify-content-center">
          <p class="mt-2 text-white">{{arabic.util.date}}</p>
          <p class="text-dark yellow rounded p-2 mr-4 block">{{currentDate|date:'yyyy-MM-dd'}}</p>
        </div>
      </div>
      <div class="col mt-2">
        <div class="row justify-content-center">
          <p class="mt-2 text-white ">{{arabic.saleOrder.util.orderCode}}</p>
          <p class="text-dark yellow rounded p-2 mr-4 block">{{orderCode}}</p>
        </div>
      </div>
    </div>
    <!--end header container-->
    <div class="row rounded mt-1">
      <!--center dive-->
      <div class="col-4 greybg ">
        <mat-card class="mat-elevation-z2">
          <div class="header">
            <p>تصنيقات رئيسيه</p>
          </div>

          <div class="scrollable-15 mt-1">
            <mat-card-content>
              <mat-grid-list cols="5" gutterSize="10px" rowHeight="50px">
                <mat-grid-tile *ngFor="let card of categoryList">
                  <mat-card class="my-card mt-2 ">
                    <mat-card-title (click)="addProductCategory(card)">{{card.categoryName}}</mat-card-title>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-card-content>
          </div>
          <div class="yellow ">
            <p> {{dynamcObjectSelected.categoryName}}</p>
          </div>
        </mat-card>

        <mat-card class="mat-elevation-z2 mt-1">
          <div class="header">
            <p>تصنيقات فرعية</p>
          </div>
          <div class="scrollable-15">
            <mat-card-content>
              <mat-grid-list cols="5" gutterSize="10px" rowHeight="50px">
                <mat-grid-tile *ngFor="let card of productList">
                  <mat-card class="my-card mt-2 ">
                    <mat-card-title (click)="addProduct(card)" >{{card.productName}}</mat-card-title>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-card-content>
          </div>
          <div class="yellow ">
            <p> {{dynamcObjectSelected.productName}}</p>
          </div>
        </mat-card>
        <mat-card class="mat-elevation-z2 mt-1">
          <div class="header">
            <p>التشغيل</p>
          </div>
          <div class="scrollable-15">
            <mat-card-content>
              <mat-grid-list cols="5" gutterSize="10px" rowHeight="50px">
                <mat-grid-tile *ngFor="let card of tailerTasksList">
                  <mat-card class="my-card mt-2 ">
                    <mat-card-title (click)="addCard(card)" >{{card.task}}</mat-card-title>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-card-content>
          </div>
          <div class="row justify-content-between">
            <div class="yellow ">
              <p> {{dynamcObjectSelected.task1}}</p>
            </div>
            <div class="yellow ">
              <p> {{dynamcObjectSelected.task2}}</p>
            </div>
            <div class="yellow ">
              <p> {{dynamcObjectSelected.task3}}</p>
            </div>
            <div class="yellow ">
              <p> {{dynamcObjectSelected.task4}}</p>
            </div>
            <div class="yellow ">
              <p> {{dynamcObjectSelected.task5}}</p>
            </div>
          </div>
        </mat-card>
        <div class=" info ">
          <form nz-form [formGroup]="orderForm">
            <div class="row ">
              <div class="col">
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput required placeholder="اللون" formControlName="description"
                    [(ngModel)]="boutiqeOrder.color" autocomplete="off">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput required placeholder="عدد القطع" type="number" formControlName="description"
                    [(ngModel)]="boutiqeOrder.color" autocomplete="off">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput required placeholder="ملاحظات" formControlName="description"
                    [(ngModel)]="boutiqeOrder.color" autocomplete="off">
                </mat-form-field>
              </div>
              <div class="col">
                <button mat-raised-button color="accent" class="mybtn" (click)="addToInvoce()">إضافة</button>
              </div>
            </div>
          </form>

        </div>

      </div>
      <!--left div-->
      <div class="col-8 greybg ">
        <div class="mt-2 text-center">

          <!--table-->
          <table class="table table-bordered table-sm">
            <thead class="navy text-white">
              <tr>
                <th>الصنف</th>
                <th>تفاصيل</th>
                <th>عدد</th>
                <th>اللون</th>
                <th>تشغيل 1</th>
                <th>تشغيل 2</th>
                <th>تشغيل 3</th>
                <th>تشغيل 4</th>
                <th>تشغيل 5</th>
                <th> السعر</th>
                <th>ملاحظات</th>
                <th>الاجمالى</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dynamicOrderList">
                <th>{{ item.productName }}</th>
                <th>{{ item.categoryName }}</th>
                <td>{{ item.quantity }}</td>
                <td>{{ item.color }}</td>
                <td>{{ item.task1 }}</td>
                <td>{{ item.task2 }}</td>
                <td>{{ item.task3 }}</td>
                <td>{{ item.task4 }}</td>
                <td>{{ item.task5 }}</td>
                <td>{{ item.note }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.total}}</td>
                <td>
                  <button mat-icon-button color="warn" (click)="deleteDynamicItem(item)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row justify-content-around text14" *ngIf="canCustomer">
          <div class="mt-1">
            <form>
              <mat-form-field class="example-full-width">
                <mat-label>{{arabic.customers.util.searchBar}}</mat-label>
                <input type="text" placeholder={{arabic.customers.util.searchBar}} matInput [formControl]="myControl"
                  [matAutocomplete]="auto" [(ngModel)]="searchCustomerInout" (keyup.enter)="search()">
                <mat-icon color="accent" matSuffix>search</mat-icon>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                    (click)="OnHumanSelected(searchCustomerInout)">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </div>
          <div class="mt-2">
            <button mat-mini-fab color="accent" (click)="addDialog()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
      <!--end left-->
    </div>
  </div>
</div>