<h2 mat-dialog-title>اضافة عميل</h2>
<mat-divider></mat-divider>

<mat-dialog-content>
    <form nz-form [formGroup]="validateForm">
        <div>
            <div class="row justify-content-between mt-2">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>{{arabic.util.tables.name}}</mat-label>
                        <input matInput required placeholder="{{arabic.util.tables.name}}"
                            formControlName="customerName" [(ngModel)]="customer.customerName" autocomplete="off">
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>{{arabic.util.tables.phone}}</mat-label>
                        <input type="tel" matInput required placeholder="{{arabic.util.tables.phone}}"
                            formControlName="customerPhone" [(ngModel)]="customer.customerPhone" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>{{arabic.util.tables.notes}}</mat-label>
                    <textarea matInput placeholder="{{arabic.util.tables.notes}}" formControlName="notes"
                        [(ngModel)]="customer.notes" autocomplete="off"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="center">
    <button mat-raised-button (click)="save()"
        [disabled]="!validateForm.valid">{{arabic.stock.category.util.dialog.addDialog.buttons.save}}</button>
    <button mat-raised-button color="primary" (click)="close()"
        tabindex="1">{{arabic.stock.category.util.dialog.addDialog.buttons.cancel}}</button>
</mat-dialog-actions>