$receipt: 8cm 10cm; /* width height */
$print-a4-width: 21cm;
$print-a4-height: 29.7cm;
$font-cairo: Arial, Helvetica, sans-serif;

.mydiv {
  width: $print-a4-width;
  font-family: $font-cairo;
  border: 2px solid black;
  height: fit-content;
  padding: 3mm;
  text-align: center;
  .header {
    font-size: 14px;
    padding: 2px;
    margin: auto;
    border: 1px solid black;
    width: calc($print-a4-width/2);
    text-align: center;
    border-radius: 25px;
  }
  .text-sm {
    font-size: 11px;
    font-weight: bold;
  }
  .l-flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 5px;
  }
  table,
  th,
  td {
    border: 1px solid black;
  }
  .border-top{
    border-top: 1px solid black;
  }
  .cborder {
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    font-family: $font-cairo;
    font-size: small;
  }

  .mcenter {
    margin: auto;
  }
  .c_table {
    font-size: 10px;
    font-weight: bold;
  }
}

@media print {
  .doNotPrint {
    display: none !important;
  }
  .mydiv {
    width: $print-a4-width;
    font-family: $font-cairo;
    border: 2px solid black;
    margin: auto;
    padding: 3mm;
    text-align: center;
    height: fit-content;
    .header {
      font-size: 14px;
      border: 1px solid black;
      width: calc($print-a4-width/2);
      margin-top: 2px;
      border-radius: 25px;
    }
    table,
    th,
    td {
      border: 1px solid black;
    }
    .cborder {
      border: 1px solid black;
      padding-left: 2px;
      padding-right: 2px;
      border-radius: 5px;
      font-family: $font-cairo;
    }
    .text-sm {
      font-size: 11px;
      font-weight: bold;
    }
    .l-flex-around {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: auto;
      text-align: center;
      margin-top: 5px;
    }
    .border-top{
      border-top: 1px solid black;
    }
    .mcenter {
      margin: auto;
    }
    .c_table {
      font-size: 10px;
      font-weight: bold;
    }
  }
  @page {
    size: $print-a4-width $print-a4-height; /* width height */
  }
}
