<div class="customDive">

    <div class="blog-card ">
        <div class="meta">
            <div class="photo"
                style="background-image: url(https://images.unsplash.com/photo-1549732565-d673b928da7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80)"></div>
            <ul class="details">
                <!-- <li class="author"><a [routerLink]="'/setting/users'">Users</a></li> -->
                <li class="author"><a >المستخدمين</a></li>
            </ul>
        </div>
        <div class="description">
            <h1>المستخدمين </h1>
            <h2>Manage System Users</h2>
            <p> إدارة المستخدمين </p>
            <p class="read-more">
                <a [routerLink]="'/setting/users'">إدارة</a>
            </p>
        </div>
    </div>
    
</div>