.bg {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 10px;
  // animate__zoomIn
  animation: zoomIn; 
  animation-duration: 1s; 
}

.card{
  object-fit: cover;
  border-radius: 10px;

}
.custom-caption{
  border-top: 2px solid #ccc;
  background-color:#64748b;
  opacity: 0.8;
  left:0;
  right: 0;
  font-size:large;
}
.cabtion-header{
  font-family: 'El Messiri', sans-serif;
  font-size: 3em;
  padding: 8px;
  color: white;
  animation: fadeInDown; 
  animation-duration: 2s; 
}