.example-form {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    background: #F4F3F0;
    border-radius: 8px;
    border: 1px solid #212121;
    justify-content: space-between;
  }
  
  .headerItem{
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }




.fab-right{
  margin-left: 10px;
  margin-top: 8px;
  margin-right: auto;
    
}




